.footer-main {
    width: 100%;
    height: auto;
    background-color: #fef6e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position:fixed;
    left:0px;
    bottom: 30px; */
    padding: 50px; 

}




.footer-content {
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
    /* gap: 100px; */
    gap: 100px;
}

.content-main {
    display: flex;
    flex-direction: column;
}


.logo-footer {
    width: 100px;
    height: 70px;
}


.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef6e9;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 600px) {

    .footer-main {
       display: flex;
       flex-direction: column;
       padding: 0px;
       position: static;   
       bottom: auto;
       left: auto;
    }


    .footer-content {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 20px;
    }

    .content-main {
        display: flex;
        align-items: left;
        justify-content: center;
    }

    .logo-mobile-footer {
        width: 100px !important;
        height: 120px !important;
    }

}