.error-section {
     background: #3a3a3a;
    filter: contrast(1) brightness(1);
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contain-error {
    padding: 50px;
    background: #f3e5c6;            
    border: 4px solid #000;         
    box-shadow: 6px 6px 0px #000;
    -moz-webkit-box-shadow: 6px 6px 0px #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contain-error h1 {
    font-size: 30px;
}

.error-logo {
    width: 250px;
    height: 300px;
}

.contain-error button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
}