.section-book {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    /* background-color: rgb(74 74 74 / var(--tw-bg-opacity, 1)); */
    background: #3a3a3a;
  filter: contrast(1) brightness(1);
  position: relative;
}


.section-book::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
  pointer-events: none;
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 50px;
    background: #f3e5c6;            
    border: 4px solid #000;         
    box-shadow: 6px 6px 0px #000;
    -moz-webkit-box-shadow: 6px 6px 0px #000;
    position: relative;
    gap: 85px;
}


.calendar {
    width: 500px;
    height: auto;
    padding: 20px;
    background: none;
    border: none;
    color: #fff;
}

.confirm-container {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.confirm-container .date-selection {
    margin-bottom: 10px;
}

.contain-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 15px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-bar button {
    padding: 10px;
    color: #fff;
    font-weight: bold;
}



.dot-1 {
   background-color: #000;
   width: 10px;
   height: 10px;
   position: absolute;
   z-index: 1;
   left: 0;
   top: 0;
   margin: 10px;
   padding: 8px;
   border-radius: 100%;
}

.dot-2 {
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  z-index: 1;
  right: 0;
  top: 0;
  margin: 10px;
  padding: 8px;
  border-radius: 100%;
}

.dot-3 {
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  z-index: 1;
  left: 0;
  bottom: 0;
  margin: 10px;
  padding: 8px;
  border-radius: 100%;
}

.dot-4 {
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 8px;
  border-radius: 100%;
 
}

.vertical-line { 
   /* test */
   height: auto;
   align-self: stretch; 
   border: 4px dashed #111;
}


.calendar-title {
  position: absolute;
  top: -30px;
  background: #3a3a3a;
  filter: contrast(1) brightness(1);
  padding: 10px;
  color: #fff;
  border: 7px solid #f4e5c6;
  align-self: baseline;
  outline: 1px solid #111;
  z-index: 1;
  transform: rotate(-4deg);
}

.fun-title {
  font-weight: bold;
  font-size: 30px;
}

.title-and-date {
  display: flex;
  flex-direction: column;
}



/* form */

.tab-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* More breathing room */
}

.book-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* even spacing between each form group */
}

.form_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px; /* Fix spacing between label & input */
}

.form_group label {
  font-size: 16px;
  font-weight: 600;
}

.form_group input {
  font-size: 18px;
  border: 4px solid #000;         
  box-shadow: 6px 6px 0px #000;
  background: #fff !important;    
  padding: 10px;
  /* width: 100%; */
  width: 500px; 
  text-align: left;
}

.form_group input:focus {
  outline: none;
}

.form_group button {
  padding: 12px 20px;
  width: 500px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}


/* side */

.side-confirm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.icon-descript {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.confirm-next {
  width: 90%;
}


.show-back {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.circle-back {
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  font-size: 20px;
  border-radius: 100%;
  box-shadow: 4px 3px 0px 1px #000000;
  outline: 2px solid #000000;
}



.form_group_final {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px; /* Fix spacing between label & input */
}

.form_group_final button {
  padding: 12px 20px;
  width: 300px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}